<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="Pablo Porta">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TermStorage</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" type="image/x-icon" href="./assets/imgs/dictionary.png">
    <script type="module" src="main.js" defer></script>
</head>
<body>
    <nav>
        <h1>The Term Storage:</h1>
        <form action="/main" method="post" class="wordForm">
            <input type="text" id="term" name="term" placeholder="Introduce a new word:">
            <input type="submit" value="Submit">
        </form>
    </nav>

    <form action="/main" method="post" class="defForm">
    </form>
    
    <div class="content">
        <% list.forEach((item) => { %>
           <li> <%= item.term %> : <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%- item.definition.split("mmmm").join("<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp")%></li>
        <% }); %>
    </div>
</body>
</html>